body{
    background-color: #FEF5ED;
    font-family: sans-serif;
    color: #555555;
}

.screenField{
    width: 150px;
    height: 150px;
    text-align: center;
}

.evenField{
    background-color: #D3E4CD;
}

.oddField{
    background-color: #ADC2A9;
}

.xField{

}

.ofield{

}

.screenBoard{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    height:fit-content;
    width: fit-content;
}