.screenField{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.screenBoard{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 460px;
    width: 460px;
}